.row{
    padding: 20px;
    background-color: #282d32;
}
footer{
    color: deeppink;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(150, 14, 86);
}