.row {
    padding: 20px;
}
div{
    background-color: black;
    color: white;
}
h1, h3 {
    display: inline;
}
p{
    padding: 15px;
}
td{
    color: white;
}
.table{
    border: 10px solid;
    border-color: deeppink;
}