<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/yo programo.png" id="logo">
        </div>
        <div class="redes">
            <a href="https://instagram.com/jeroferreyra"> <img src="../../../assets/ig.png" id="ig"> </a>
<a href="https://instagram.com/jegastyle"> <img src="../../../assets/reloj.png" id="ig"> </a>
<button type="button" class="btn btn-outline-warning" (click)="login()" *ngIf="!isLogged">INGRESAR</button> 
<button type="button" class="btn btn-outline-warning" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>   
</div>
    </div>
</div>

