.row{
    padding: 20px;
}
div{ 
    background-color: #282d32;
    color: white;
text-align: center;}
#nombre{
font-weight: bold;
margin-top: 10%;
}
@media (min-width: 576px){
    #fotoperfil{
        border-radius: 150%;
        box-shadow: 3px 3px 3px 3px white;
    }
    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 575px){
        #fotoperfil{
            position: absolute;
            width: 30%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px 3px aqua;
            left: 33%;
            top: 630px;
        }
    }
    
}